body {font-family: 'Abril Fatface', cursive;
  font-family: 'Joan', serif;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 19px;
}

h1 {font-size: 32px; font-weight: 700;
text-align: center;
color:black;}

* {
  box-sizing: border-box;
}

body {min-height: 100vh;
  margin: 0; padding: 0;
  background-image: url(assets/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  html {
    scroll-behavior: smooth; 
  }

  .nav-list {
    list-style: none;    
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;    
    font-size: 20px;    
    font-weight:700;
    color: #280A04;
    text-decoration: none;
    transition: color 1s;}

  .nav-link:hover {color: #cabf25;}

  .main-container {
    display: flex;
    flex-direction: row; 
    
  }
  
  .main-left {
    width: 35%;
    background-image: url(assets/img/background-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    border: 1px solid rgb(53, 49, 13);
    color: white;
    padding: 30px;
  }  

  .main-right {
    width: 75%;
    background-color:rgb(255, 255, 255);
    border: 3px solid rgb(53, 49, 13);
    padding: 30px;
  }

  @media (max-width: 768px) {
    .main-container {
      display: flex;
      flex-direction: column;
    }
    .main-left {width: 100%;}
    .main-right {width: 100%;}
  }

  .contact-link {
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }
  .contact-link:hover {
    color: rgb(19, 8, 6);
  }

  .href-link {text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;}
  .href-link:hover {
    color: turquoise;
  }

  .section {border: solid; border-width: 0px 0px 3px 0px;
    font-size: 18px;}

  .my-photo {
  padding: 0px 0px 0px 70px;
  }

  .container-footer {display: flex;
    justify-content: flex-end;
    align-items: flex-end; }

  .icon1 {padding: 20px;
  width: 100px;
}

.icon2 {padding: 20px;
  width: 200px;
}
    