* {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

  .container {
    max-width: 1440px;
    margin: 0 auto;
          }
     
    .main-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      }
      .section {
        width: 70%;
                }
        
        @media (max-width: 768px) {
            .section {
              width: 100%;
            }
        }
    

.nav-list { display: flex;
          justify-content: flex-end;
          align-items: center;
          list-style: none;
          }
      
html {
        scroll-behavior: smooth; 
       }
.nav-link { padding: 0 20px;
            line-height: 50px;}

  
body {min-height: 100vh; margin: 0; padding: 0;}

body {font-family: 'Lato', sans-serif;
      font-family: 'Merriweather', serif;
      font-family: 'Roboto', sans-serif;
      font-family: 'Ubuntu', sans-serif;}
      .header {border: 1px solid red}
      .main {border: 1px solid rgb(67, 14, 117)}
      .footer {border: 1px solid rgb(23, 100, 27)}
